h1 {
    color: aliceblue;
    padding-bottom: 0%;
}

header {
    background-color: blue;
    border: 1px solid black;
    margin-bottom: 10px;

}

footer {
    background-color: blue;
    text-align: center;
}

.cool-bar {
    background-color: deepskyblue;
    margin: 5px;
    height: 1px;
    width: 35em;
}

.text-paragraphs{
    margin: 1em;
}

.image {
    background-color: rgb(0, 148, 198);
}

.designer-image {
    height: 70%;
    width: 70%;
}

.main-content {
    margin-left: 5em;
    flex-direction: column;
}

.main-title {
    text-align: center;
}

/* Utilitites */

.d-flex {
    display: flex;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-end {
    justify-content: end;
}

.align-bottom {
    align-items: end;
}

.align-center {
    align-items: center;
}

.row {
    min-height: 30vh;
}

.text-center{
    text-align: center;
}

.p-2 {
    padding: 2em;
}

.m-2 {
    margin: 2em;
}